.header__logo {
  width: 142px;
  height: 33px;

}
@media screen and (max-width: 890px) {
  .header__logo {
    padding-left: 27px;
    padding-bottom: 32px;
    width: 104px;
    height: 24px;
  }
}
