.cards__delete-button {
  width: 18px;
  height: 19px;
  background-image: url(../../../images/delete-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 20px;
  right: 20px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: unset;
  transition: opacity 0.5s;
}

.cards__delete-button:hover {
  opacity: 0.6;
}
